<section>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <h1>welcome Admin</h1>
        <style>
          body {
            background-image: url('https://img.freepik.com/free-photo/sunset-pool_1203-3192.jpg?size=626&ext=jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
          }
        </style>


      </div>
    </div>
  </div>
</section>