<section>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-11">
                    <div class="row register-form">
                        <div class="col-md-8 offset-md-2">
                            <form class="custom-form" action="/hotel/add-rooms" method="POST"
                            enctype="multipart/form-data">
                                <h2>
                                    <center>ADD ROOMS</center>
                                </h2></br></br>
                                <div class="form-row form-group">
                                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">ADD Image</label></div>
                                    <div class="col-sm-6 input-column"><input type="file" style="width: 240px;" name="Image" id="Image"></div>
                                </div>

                                <label for="">Room Name</label>
                                <input type="text" name="RoomName" class="form-control" value="">
                                <label for="">AVAILABLE ROOMS</label>
                                <input type="text" name="Available" class="form-control" value="">
                                <label for="">ROOM PRICE</label>
                                <input type="text" name="RoomPrice" class="form-control" value="">
                                <label for="">ROOM TYPE</label>
                                <select class="form-control" name="type" value="">
                                    <optgroup label="This is a group">
                                        <option value="Single Room" selected="">Single Room</option>

                                        <option value="Double Room">Double Room</option>
                                        <option value="Duplex">Duplex</option>
                                        <option value="Suit Room">Suit Room</option>
                                    </optgroup>
                                </select></br></br>
                                <div>
                                    <label for="">FEATURES</br></br></label>
                                </div>
                                <div>

                                    <label class="checkbox">
                                        <label class="checkbox">
                                            <input value="A/c" type="checkbox" id="features"
                                                name="features">
                                            <span class="checkbox-check"></span>
                                            A/C
                                        </label>&nbsp;
                                        <label class="checkbox">
                                            <input value="Cieling fan" type="checkbox" id="features"
                                                name="features">
                                            <span class="checkbox-check"></span>
                                            Cieling fan
                                        </label>&nbsp;
                                        <label class="checkbox">
                                            <input value="  WiFi" type="checkbox" id="features"
                                                name="features">
                                            <span class="checkbox-check"></span>
                                            WiFi
                                        </label>&nbsp;
                                        <label class="checkbox">
                                            <input value="Power Back" type="checkbox" id="features"
                                                name="features">
                                            <span class="checkbox-check"></span>
                                            Power Back
                                        </label></br></br>
                                        <label class="checkbox">
                                            <input value=" Refrigerator" type="checkbox" id="features"
                                                name="features">
                                            <span class="checkbox-check"></span>
                                            Refrigerator
                                        </label>&nbsp
                                        <label class="checkbox">
                                            <input value="Attached Bathroom" type="checkbox" id="features"
                                                name="features">
                                            <span class="checkbox-check"></span>
                                            Attached Bathroom
                                        </label>&nbsp
                                        <label class="checkbox">
                                            <input value=" Geyser" type="checkbox" id="features"
                                                name="features">
                                            <span class="checkbox-check"></span>
                                            Geyser
                                        </label>
                                </div>
                                <!--label for="">Image</label>
                                <img src="/hotel-images/{{hotels._id}}.jpg" alt="" style="width: 100px; height:auto"
                                    id="imgView" class="pt-3">
                                <input type="file" name="image" class="form-control" onchange="viewImage(event)"-->
                                <button type="submit" class="btn btn-success mt-4">Submit</button>
                            </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</section>